4 drive motors
4 lift motors
Transmission control
PID-based drive? (builtin?)
Gyro turns
Power expander issues: overvoltage
Limit switch(es) for lift soft stop
Read through existing code, strip any unneeded functions
